.gpg/
node_modules
.DS_Store
dist/
dist-ssr/
*.local
.npmrc

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Security keys and certificates
*.keystore
*.jks
*.p12
*.mobileprovision
